body {
    font-family: sans-serif;
    background-color: lightcyan;
}
.social{
    margin: 4px 4px 4px 4px;
    width: 50px;
    height: 50px;
}
header{
    background-color: yellow;
}
header a{
    padding: 50px 10px 50px 10px;
    font-size: 35px;
    text-decoration: none;
    color: green;
}
.link-nav{
    text-decoration: none;
    font-size: 28px;
    color: lightseagreen;
    border: 1px solid navy;
    background-color: navy;
    border-radius: 20px;
    padding: 3px 3px 3px 3px;
    margin: 10px 3px 3px 3px;
}
